backend/.gradle
backend/build/
# Ignore Gradle GUI config
backend/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!backend/gradle-wrapper.jar

# Cache of project
backend/.gradletasknamecache

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*