.items {
  display: grid;
  grid-template-columns: 217px 217px 217px;
  grid-template-rows: minmax(213px);
  justify-content: space-between;
  align-content: space-between;
  padding: 10% 10%;
  background-color: #111111;
  min-height: 85.2vh;
  grid-gap: 8rem;
}

.wrapper {
  position: relative;
  margin: auto;
}

.image {
  position: absolute;
  width: 217px;
  height: 213px;
}

.AgedBrie, .BackstagePasses, .Conjured, .Sulfuras, .Normal{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: 24.52px;
  letter-spacing: 0.15em;
  font-weight: 500;
  height: 213px;
  width: 217px; 
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 152px;
  height: 213px;
}

.AgedBrie {
  background-color: #dad6fa;
}

.BackstagePasses {
  background-color: #ffeded;
}

.Conjured {
  background-color: #82c1df;
}

.Sulfuras {
  background-color: #d7e447;
}

.Normal {
  background-color: #ed9c19;
}

.image:hover {
  opacity: 0;
}

.item-name {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32.69px;
}